
.title {
  margin: 0.5em;
  text-align: 'center';
}

.subtitle {
  margin: 0.8em;
  text-align: 'center';
  max-width: 750px;
}

.wrapper {
  margin: 2em;
}

.graphWrapper {
  width: 90%;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  min-width: 200px;
}

.loading li {
  list-style-type: none;
}

.loading {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 500px;
}